/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
*,
* ::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  height: 100%;
}

.header {
  background: #353535;
  margin-bottom: 20px;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Header styles */
.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}